body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #fefbfa;
}

/* .primary-dark-text {
	color: rgba(0, 0, 0, 0.87);
}
.secondary-dark-text {
	color: rgba(0, 0, 0, 0.54);
}

.primary-light-text {
	color: #fff;
}
.secondary-light-text {
	color: rgba(255, 255, 255, 0.7);
} */

.text-small {
	font-size: 0.8em;
}

.map-frame {
	height: 413px;
	border: 1px solid #000 !important;
}

/* war duration */

.war-duration__container {
	position: fixed;
	right: 1rem;
	top: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0.5rem;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.87);
}

.war-duration__ukraine {
	height: 3.5rem;
	width: auto;
	margin-bottom: -3px;
}

/* raid alarm */

.alarm__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.alarm__region-title {
	font-weight: 500;
}

.alarm__region-container {
	border: 2px solid rgba(0, 0, 0, 0.1);
	background-color: var(--alarm-region-bg, var(--bs-gray-200));
	--alarm-primary-color: rgba(0, 0, 0, 0.87);
	--alarm-secondary-color: rgba(0, 0, 0, 0.54);
	color: var(--alarm-primary-color);
}
.alarm__light_text {
	--alarm-primary-color: #fff;
	--alarm-secondary-color: rgba(255, 255, 255, 0.7);
}
.alarm__region-container--danger {
	--alarm-region-bg: var(--bs-danger);
}
.alarm__region-container--warning {
	--alarm-region-bg: var(--bs-warning);
}
.alarm__region-container--info {
	--alarm-region-bg: var(--bs-info);
}

.alarm__started {
	color: var(--alarm-secondary-color);
}

@keyframes keyframe-bounce {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}
.animation-bounce {
	animation: keyframe-bounce 2s infinite linear;
	display: inline-block;
}
